body{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.container{
    font-family: serif;
    box-shadow: 5px 10px 10px;
    background-position: 10px 10px 10px 10px;
    padding: 10px 10px 30px 10px ;

}
.container:hover{

}
.navbar-nav{
    padding: 100xp 200px 350px;
}